#map-container{
    height: 100%;
}


.ion-buttons-bottom {
    width: 100%;
    z-index: 1000000;
    position: absolute;
    bottom: 0;
    background: var(--ion-principal-color);
    --background: var(--ion-principal-color);
    color: white;
    text-align: center;
    padding: 10px;
}


ion-content.md.hydrated {
    --background: var(--ion-principal-color);
}

ion-toolbar.in-toolbar.md.toolbar-title-default.hydrated {
    --background: var(--ion-principal-color);
    color: white;
}